.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #fff2b7;
    top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -2vh;
    margin-left: -2vh;
    margin-right: -2vh;
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
}

#flipDate {
    margin-right: 2vh;
}

#totalFlippedCoins {
    margin-right: 8vh;
}

@media(max-width: 480px) {
    #flipDate {
        font-size: 14px;
        margin-right: 0vh;
        margin-left: -3vh;
    }

    #totalFlippedCoins {
        font-size: 16px;
        margin-right: 5vh;
    }
}